html, body, a, p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #26a69a;
}

/**login page**/
.col-centered{
    float: none;
    margin: 0 auto;
}
div#col-center {
    margin-top: 80px;
}
form#login-form {
    margin-top: 20px;
}
#login-form label{
    font-size: 16px;
    font-weight: 500;
}
#login-form .btn-default {
    width: 100%;
    margin-top: 10px;
    background-color: #26a69a;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form-control {
    border-radius: 0px;
}


/**homepage**/

body {
    overflow-x: hidden;
}
.brand {
    color: #26a69a;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-family: 'Bangers', cursive;
}
}
.navbar-default .navbar-nav>li>a {
    color: #26a69a;
}
nav.navbar.navbar-default {
    box-shadow: 0 2px 2px -1px #26a69a;
    border-radius: 0;
}

.navbar-nav>li {
    float: left;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #26a69a;
}

.navbar-default .navbar-nav>li>a:focus span, .navbar-default .navbar-nav>li>a:hover span{
    color: #26a69a;
}

#left-panel-dropdown {
    width: 100%;
    margin: 10px 0 10px 0;
}
.panel-body {
    padding: 15px;
    margin: 5px;
}
.panel-title {
    font-size: 18px;
    color: #26a69a;
}
.navbar-default .navbar-brand {
    color: #26a69a;
    font-size: 30px;
    font-family: 'Bangers', cursive;
    font-weight: 700;
}
.panel-manual {
    border-color:#26a69a;
    border-radius: 0;
    background-color: rgba(0,0,0,0.1);
    border: none;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-manual>.panel-heading {
    border-radius: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    background: #fff;
    padding: 0 10px;
}
button#dropdownMenu1 {
    width: 100%;
}
.glyphicon {
	color: #26a69a;
	margin-right: 5px;
}
.dropdown-menu {
	text-align: center;
	float: none;
	min-width: 100px;
}
.list-inline{
	color: #26a69a;
}
div#accordion {
    margin-top: 10px;
    margin-bottom: 0px;
} 
input#requirment-form {
    margin-bottom: 7px;
}
input#requirment-form:focus {
    color: #26a69a;
    border-color: #26a69a;
}
input.form-control:focus {
    color: #26a69a;
    border-color: #26a69a;
}
.btn-default {
	color: #26a69a;
}
button#toggle-button {
    border: none;
}
.btn-default:focus {
	border-color: #26a69a;
}
.btn-default:hover{
	color: #26a69a;
}
.thumbnail {
	border-color: #26a69a;
    border-radius: 0;
}
.thumbnail:hover {
    box-shadow: 2px 6px 19px -2px #26a69a;
}

div#thumbnail-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.thumbnail .caption {
    padding: 3px;
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
   
    height: 165px;
}
.phone-specification {
	font-size: 13px;
}
.font-16{
    font-size: 16px;
}
.font-icon-left-side{
    font-size: 14px !important;
    margin-right: 5px;
}
.mobile-display{
    margin-right: -15px;
    margin-left: -15px;
}

.cross-font-icon{
    font-size: 20px !important;
    cursor: pointer;
}
.mobile-header-tag{
    font-size: 18px;
    text-align: center;
    color: #26a69a;
    font-weight: 600;
}
.btn.btn-primary.select-device {
    background-color: #26a69a;
    border: none;
    border-radius: 0;
    cursor:auto;
    margin-left: 15px;
    margin-bottom: 10px;
}
span.badge.badge-cursor {
    cursor: pointer;
    margin-left: 5px;
}
.mobile-box-height{
    height: 302px;
}
button.btn.btn-default.dropdown-toggle {
    border-radius: 0;
}
footer {
	background-color: #26a69a;
	color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

@media (max-width: 600px) { 

}

@media (min-width: 601px) and (max-width: 992px) { 

 ul.nav.navbar-nav.navbar-right li a:hover {
        background-color: #26a69a;
    }

}

@media (min-width: 993px) and (max-width: 1200px) { 
    .width-manual{
    width: 171px;
}
}

@media (min-width: 1200px) { 
    .width-manual{
    width: 171px;
}
}

